form {
  margin: 70px;
  .form-group {
    margin-top: 50px;
  }
}
.buttonSave {
  position: absolute;
  left: 43%;
  button {
    width: 400px;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
  }
}
